@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  font-family:
    "Fredoka", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul, ol {
  margin: 0;
  padding: 0;
}


:root {
  --bg: hsl(0, 50%, 10%);
  --bg-dark: hsl(0, 50%, 5%);
  --bg-light: hsl(0, 50%, 15%);
  --border: hsl(0, 50%, 30%);
  --border-dark: hsl(0, 50%, 20%);
  --text: hsl(0, 50%, 90%);
  --text-muted: hsl(0, 50%, 65%);
  --color-tertiary: hsl(60, 80%, 80%); 
  --color-accent: hsl(300, 80%, 80%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --highlight: hsl(0, 50%, 60%);
}


body {
  background-color: var(--bg-dark);
  color: var(--text);
}